<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
  <!-- <link rel="stylesheet" type="text/css" href="../static/css/style.css" /> -->
  <title>グループ会計 | group form</title>
</head>
<body>

<header>
  <p class="textL"><a th:href="@{/kaikei}">Group 会計</a></p>
</header>

<div class="page-title">
  <h1>会計新規登録</h1>
</div>

<div class="center">
  <form th:action="@{/kaikei/finbookForm}" method="post" th:object="${finbookForm}" class="">
    <div class="direct">
      <label class="textS">会計名</label>
      <input type="text" th:field="*{name}" th:value="${group.name}" class="boxS textS" required />
    </div>
    <div class="direct">
      <label class="textS">年度(西暦)</label>
      <input type="number" th:field="*{fiscalYear}" min="2000" max="2100" class="boxS textS" required />
    </div>
    <div class="direct">
      <label class="textS">開始日</label>
      <input type="date" th:field="*{startDate}" class="boxS textS" required />
    </div>
    <div class="direct">
      <label class="textS">終了日</label>
      <input type="date" th:field="*{endDate}" class="boxS textS" required />
    </div>
    <div class="direct">
      <label class="textS">group_id</label>
      <input type="number" th:field="*{groupId}" th:value="${group.id}" class="boxS textS" required />
    </div>
    <div class="direct">
      <input type="submit" value="新規登録" class="buttonL textS borderS" />
    </div>
  </form>
</div>

</body>
</html>