<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
  <!-- <link rel="stylesheet" type="text/css" href="../static/css/style.css" /> -->
  <title>グループ会計 | finbook</title>
</head>
<body>

<header>
  <p class="textL"><a th:href="@{/kaikei}">Group 会計</a></p>
</header>

<div class="page-title">
  <h1>会計</h1>
</div>

<div class="center">
  <div class="textBox">
    <p class="textM">会計は年度毎に作成してください。<br>
      一般会計、特別会計は作り分ける必要はありません。</p>
  </div>
</div>

<div class="center">
  <a th:href="@{/kaikei/finbookForm}" class="buttonL center">
    <p class="textM">会計の新規登録</p>
  </a>
</div>

<div class="center">
  <select name="" id="" class="textM marginPadding buttonL textCenter">
    <option value="">-会計を選択-</option>
    <option value="2024">2024年度会計</option>
    <option value="2023">2023年度会計</option>
  </select>
</div>

</body>
</html>