<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
  <title>グループ会計 | group</title>
</head>
<body>

<header>
  <p class="textL"><a th:href="@{/kaikei}">Group 会計</a></p>
</header>

<div class="page-title">
  <h1>Group</h1>
</div>

<div class="center">
  <a th:href="@{/kaikei/kaikeiGroupForm}" class="buttonL center">
    <p class="textM">団体の新規登録</p>
  </a>
</div>

<div class="center">
  <ul class="hovee">
    <li class="textM marginPadding buttonL textCenter">-団体を選択-</li>
    <ul th:each="group:${groupList}" class="hover">
      <li class="textM marginPadding buttonL textCenter"><a th:href="@{'/kaikei/finbook/' + ${group.id}}" th:text="${group.name}"></a></li>
    </ul>
  </ul>
</div>

</style>

</body>
</html>