<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
  <!-- <link rel="stylesheet" type="text/css" href="../static/css/style.css" /> -->
  <title>グループ会計 | TopPage</title>
</head>
<body>

<header>
  <p class="textL"><a th:href="@{/kaikei}">Group 会計</a></p>
</header>

<div class="page-title">
  <h1>はじめる</h1>
</div>

<div class="center">
  <a th:href="@{/kaikei/group}" class="buttonL center">
    <p class="textM">デモページへ</p>
  </a>
</div>

<div class="center">
  <div class="buttonL center">
    <p class="textM">ログイン(工事中)</p>
  </div>
</div>

</body>
</html>